$fuente: 'Aboreto', cursive;
$fuente2: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
$borde: 30px;
$colores:(
    "negro":rgb(0, 0, 0),
    "blanco": white,
    "especial": aliceblue,
    "rosa": rgb(255, 184, 232),
    "violeta": rgb(56, 36, 107),
    "violetin": rgb(182, 85, 189)
);
$tamañofuente: 16px;

